body{
    background-color:#E8F6EF;
}
hr{
    border-style: none;
    border-top-style: dotted ;
    border-color:lightgrey;
    border-width:10px;
    height:0px;
    width:5%;
}
h1{
    color: rgb(10%,50%,40%);
}
h3{
    color:#66bfbf;
}